[submodule "pretty-derby"]
	path = pretty-derby
	url = https://github.com/wrrwrr111/pretty-derby.git
[submodule "umamusume_skill_parser"]
	path = umamusume_skill_parser
	url = https://github.com/chinosk114514/umamusume-skill-code-converter.git
[submodule "umamusume_bot/data"]
	path = umamusume_bot/data
	url = https://github.com/chieri-bot/umamusume-alias.git
